<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="cr3_robot">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />
    <xacro:arg name="use_mock_hardware" default="true" />
    <xacro:arg name="robot_ip" default="" />

    <!-- Import cr3_robot urdf file -->
    <xacro:include filename="$(find dobot_rviz)/urdf/cr3_robot.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="cr3_robot.ros2_control.xacro" />

    <xacro:cr3_robot_ros2_control 
        name="dobot_cr3" 
        robot_ip="$(arg robot_ip)"
        use_mock_hardware="$(arg use_mock_hardware)"
        initial_positions_file="$(arg initial_positions_file)"
    />

</robot>
